@model IEnumerable<TuristicheskaAganciq.Data.Rezervation>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url(https://c4.wallpaperflare.com/wallpaper/901/964/51/eiffel-france-paris-tour-wallpaper-preview.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    thead {
        background-color: #1B9CEA;
        color: white;
        text-shadow: 1px 1px black;
    }

    tbody {
        background-color: rgba(249, 242, 249, 0.7);
    }

    h1 {
        color: white;
        text-shadow: 2px 2px black;
    }
</style>
<center><h1>Резервации</h1></center>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Клиент
            </th>
            <th>
                Номер на резервацията
            </th>
   
            <th>
               Начало
            </th>
            <th>
                Край
            </th>
            <th>
                Дата на резервация
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Clients.FirstName @item.Clients.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excursions.ExcursionNumber)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
   
        </tr>
}
    </tbody>
</table>
