@model IEnumerable<TuristicheskaAganciq.Data.Destination>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fHw%3D);
        background-repeat: no-repeat;
        background-size: cover;
    }
    thead {
        background-color: #009EFF;
        color: white;
        text-shadow: 1px 1px black;
    }

    tbody {
        background-color: rgba(245, 242, 249, 0.7);
       
    }

    h1 {
        color: white;
        text-shadow: 3px 3px black;
    }


    .buttons{
        text-shadow:none;
    }

</style>
<center><h1>Дестинации🌍</h1></center>

@if (User.IsInRole("Admin"))
{
    <center><a id="button" class="btn btn-primary " asp-action="Create">Добави дестинация</a></center>
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Дестинация
            </th>
            <th>
                Държава
            </th>
            <th>
               Дата на промяна
            </th>
            @if (User.IsInRole("Admin"))
            {
             <th></th>   
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
            </td>
            <td>
                    <b>@Html.DisplayFor(modelItem => item.Countries.Name)</b>
            </td>
            <td>
                    <b>@Html.DisplayFor(modelItem => item.DateModified)</b>
            </td>
                @if (User.IsInRole("Admin"))
                {
                          <td class="buttons">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>  
                }
        
        </tr>
}
    </tbody>
</table>
