@model IEnumerable<TuristicheskaAganciq.Data.Country>

@{
    ViewData["Title"] = "Index";
}
<style>
thead{
        background-color: #009EFF;
        color:white;
        text-shadow: 1px 1px black;
}

</style>
<center><h1>Държави🗺</h1></center>

@if (User.IsInRole("Admin"))
{
    <center><a id="button" class="btn btn-primary " asp-action="Create">Добави държава</a></center>
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Държава
            </th>
            <th>
                Дата на добавяне
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    <a class="btn btn-primary"asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-primary"asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
